body {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
}

.links {
    list-style-type: none;
    text-decoration: none!important;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAf8;
    font-weight: bold;
}

a:link{
    text-decoration: none!important;
}

.container {
    display: flex;
    margin-top: 80px;
    background-color: blue;
    flex-direction: column;
    flex-wrap: wrap;
    width: 390px;
    gap: 8px;    
}

#this {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAf8;
}


.info {
  font-size: 18px;
  color: #e5e7eb;
}

button {
    background-color: #3882F6;
    border-radius: 15px;
    padding: 10px 40px;
    color: #F9FAf8;
}